body {
  background-color: black;
  font-family: sans-serif;
}

h1 {
  color: darkorange;
  text-align: center;
}

p {
  color: deeppink;
  padding: 10px;
}

li {
  color: darkviolet;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

.styled-box {
  border: 5px solid crimson;
  background-color: lightgray;
  padding: 15px;
  text-align: center;
}
